@import "./base.scss";

body {
	display: flex;
	align-items: center;
	justify-content: center;
}
.information {
	position: absolute;
	right: 100px;
	top: 40%;
	background: #000;
	padding: 50px;
	color: #999;
}
